<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>3L:RP Discord Authentication by DeathNeroTV</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
        <link href="css/materialdesignicons.min.css" rel="stylesheet" />
        <link href="css/vuetify.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />
    </head>
    <body>
        <noscript
            ><strong>We're sorry but alt:V Ares Discord Authentication by Stuyk doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript
        >
        <div id="app">
            <v-app dark>
                <v-main>
                    <v-container class="main d-flex flex-column align-content-center align-center justify-center fadein">
                        <template v-if="!loading && !waitingForAuth">
                            <v-img class="mb-12" src="img/logo_small.png" min-height="140" min-width="500" max-width="500" max-height="140" block></v-img>
                            <v-btn @mouseup="beginAuth" color="green">Klicken Sie hier, um sich mit Discord zu autorisieren</v-btn>
                            <p class="mt-6" v-if="!errorMessage">Außerhalb Ihres Spiels öffnet sich eine Seite, die Sie beim Einloggen unterstütz</p>
                            <p class="mt-6 green--text text-h6 font-weight-black text-center" v-else>{{ errorMessage }}</p>
                        </template>
                        <template v-if="loading && waitingForAuth">
                            <div class="lds-ring mb-12">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </template>
                        <template v-if="!loading && waitingForAuth">
                            <div class="fadein d-flex flex-column align-content-center align-center justify-center">
                                <p>
                                    Überprüfen Sie Ihren Browser, um die Authentifizierung abzuschließen.<br />Wenn es fehlgeschlagen ist, versuchen Sie, das Fenster erneut zu
                                    öffnen.<br /><a @mousedown="authAgain" class="green--text">Fenster wieder öffnen</a>
                                </p>
                                <br />
                                <template v-if="readyToFinish">
                                    <v-btn @mouseup="finishAuth">Autorisierung beenden</v-btn>
                                </template>
                                <template v-else>
                                    <div class="lds-ring">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </template>
                            </div>
                        </template>
                        <p class="context mt-6">Discord Authentication - Written by <a class="green--text" @click="loadTlrp">DeathNeroTV</a></p>
                    </v-container>
                </v-main>
            </v-app>
        </div>
        <script src="js/vue.min.js"></script>
        <script src="js/vuetify.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
