node_modules
altv-server
resources
*.dll
*.exe
update.json
modules/
data/
*.log
cache/
tlrp.json
configDiscord
configLoadOrder
configMongoDB
.env
bin
obj
crashdumps
./screenshots/*
cdn_upload
tsconfig.tsbuildinfo
tlrp-cache/
/.vs
.sln