<!DOCTYPE html>
    <head>
        <title>Character Selection by DeathNeroTV</title>
        <link rel="stylesheet" type="text/css" href="../../css/materialdesignicons.min.css" />
        <link rel="stylesheet" type="text/css" href="../../css/vuetify.min.css" />
        <link rel="stylesheet" type="text/css" href="./style.css" />
        <link rel="stylesheet" type="text/css" href="../../icomoon/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app" >
            <v-app v-cloak v-if="characters[characterIndex]">
                <!-- Selection Manager -->
                <div class="pa-3 grey darken-4 elevation-12 selection">
                    <div class="split">
                        <button class="pl-6 pr-6 mr-4 outline" @click="decrementIndex">
                            <v-icon color="green">icon-chevron-left</v-icon>
                        </button>
                        <div class="overline">{{ characters[characterIndex].name.replace(/_/gm, ' ') }}</div>
                        <button class="pl-6 pr-6 ml-4 outline" @click="incrementIndex">
                            <v-icon color="green">icon-chevron-right</v-icon>
                        </button>
                    </div>
                </div>

                <!-- Options Manager -->
                <div class="pa-3 grey darken-4 elevation-12 options">
                    <div class="button-group">
                        <div class="split">
                            <button class="pl-6 pr-6 mr-4 flex-grow-1" @click="selectCharacter" outlined>
                                <v-icon color="green">icon-checkmark</v-icon>
                            </button>
                            <button class="pl-6 pr-6 ml-4 flex-grow-1" @click="showDeleteInterface" outlined>
                                <v-icon color="red">icon-bin</v-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Changelog / Event Manager -->
                <div class="pa-3 grey darken-4 elevation-12 stats">
                    <v-card color="#2d2d2d" v-for="(info, index) in infos" :key="index" :class="(index === infos.length - 1 ? '': 'mb-2')">
                        <v-card-title class="overline-2 green--text mb-2 justify-center outline" v-html="info.title"></v-card-title>
                        <v-card-text class="overline-1 white--text justify-start" v-html="info.message"></v-card-text>
                    </v-card>
                </div>
                <v-dialog v-model="deleteDialog" persistent max-width="400">
                    <v-card v-if="characters[characterIndex]">
                        <v-card-title class="overline-2 mb-2 red--text justify-center">Löschvorgang</v-card-title>
                        <v-card-text class="overline-1 white--text">{{ characters[characterIndex].name }} wirklich löschen? </v-card-text>
                        <v-card-actions>
                            <div class="button-group">
                                <div class="split pl-6 pr-6">
                                    <button class="overline pl-6 pr-6" @click="hideDeleteInterface" outlined>
                                        <v-icon color="red">icon-bin</v-icon>
                                    </button>
                                    <button class="overline pl-6 pr-6" @click="deleteCharacter" outlined>
                                        <v-icon color="green">icon-checkmark</v-icon>
                                    </button>
                                </div>
                            </div>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <div class="tlrp"></div>
            </v-app>
        </div>
        <script src="../../js/vue.min.js"></script>
        <script src="../../js/vuetify.js"></script>
        <script src="./app.js" type="text/javascript"></script>
    </body>
</html>